.we__team {
    text-align: center;
}

.we__word {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.choose__texts {
    text-align: center;
    margin: 0 auto;
}

.choose__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
}

.choose__item {
    display: flex;
    margin-bottom: 30px;
}

.choose__title {
    margin-top: 80px;
    margin-left: 30px;
}

.choose__word {
    margin-left: 21px;
}

.choose__img {
    margin-left: 12px;
}